.final-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 375px;
  background-color: #ec5569;
}

.final-header-text {
  width: 100%;
  text-align: center;
  margin-top: 43px;
  font-size: 64px;
  color: #ffffff;
  font-weight: bold;
  line-height: 75px;
}

.final-header-content {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  line-height: 21px;
  margin-bottom: 18px;
}

.final-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 375px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.final-body-avg {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #373737;
  line-height: 14px;
  padding: 0px 100px;
  margin-top: 70px;
}

.final-body-progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 16px;
  width: 290px;
  height: 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 8px;
}

.final-body-progress-bar > span {
  display: block;
  height: 34px;
  position: relative;
  overflow: hidden;
  background-color: #ec5569;
  width: 0%;
  border-radius: 5px;
}

.final-body-score {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  line-height: 16px;
  margin-top: 28px;
}

.final-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 375px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  margin-top: auto;
  margin-bottom: 0px;
}

.final-footer-text {
  width: 100%;
  max-width: 255px;
  text-align: center;
  font-size: 18px;
  color: #373737;
  font-weight: 700;
  line-height: 21px;
  margin-top: 36px;
  margin-bottom: 15px;
}
